<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwk.tgdice.biz.dao.DiceBetInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jwk.tgdice.biz.entity.DiceBetInfo">
        <id column="id" property="id"/>
        <result column="time_id" property="timeId"/>
        <result column="bet_amount" property="betAmount"/>
        <result column="amount_type_id" property="amountTypeId"/>
        <result column="bet_type" property="betType"/>
        <result column="play_type_id" property="playTypeId"/>
        <result column="prize_id" property="prizeId"/>
        <result column="bet_user_id" property="betUserId"/>
        <result column="dice_user_name" property="diceUserName"/>
        <result column="is_prize" property="isPrize"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="getBetInfoListByTimeId" resultType="com.jwk.tgdice.dto.DiceBetDto">
        SELECT info.id,
               info.time_id,
               info.bet_amount,
               info.amount_type_id,
               info.bet_type,
               info.play_type_id,
               info.prize_id,
               info.bet_user_id,
               info.dice_user_name,
               prize.prize_rate
        FROM dice_bet_info info
                 INNER JOIN dice ON info.time_id = dice.id
                 INNER JOIN dice_prize prize ON info.prize_id = prize.id
        WHERE info.time_id = #{diceId}
    </select>

    <select id="getLastFourBetInfo" resultType="com.jwk.tgdice.dto.DiceBetDto">
        SELECT dice.dice_date,dice.time_no,info.id,
        info.time_id,info.bet_amount,info.amount_type_id,info.bet_type,info.play_type_id,
        info.prize_id,info.bet_user_id,info.dice_user_name,info.is_prize,prize.prize_rate
        FROM dice_bet_info info
        INNER JOIN dice ON info.time_id = dice.id
        LEFT JOIN dice_prize_result result ON info.prize_id = result.prize_id AND info.time_id = result.time_id
        INNER JOIN dice_prize prize ON info.prize_id = prize.id
        <where>
            <if test="timeId != null">
                and info.time_id = #{timeId,jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                and info.bet_user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="groupId != null">
                and group_id = #{groupId,jdbcType=BIGINT}
            </if>
        </where>
        ORDER BY info.id DESC
        limit 0,4
    </select>


</mapper>
