<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwk.tgdice.biz.dao.DiceResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jwk.tgdice.biz.entity.DiceResult">
        <id column="id" property="id"/>
        <result column="time_id" property="timeId"/>
        <result column="dice_result" property="diceResult"/>
        <result column="dice_count" property="diceCount"/>
        <result column="dice_user_id" property="diceUserId"/>
        <result column="dice_user_name" property="diceUserName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
